.App {
  text-align: center;
}
.card-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: aqua;
  gap: 1rem;

}

.cart-value{
  display: flex;
  justify-content: flex-end; 
  margin: 15px;
  font-size: x-large;
}